@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Press+Start+2P&display=swap');
* {
  padding: 0;
  margin: 0;
  font-family: 'Press Start 2P', cursive, 'IBM Plex Mono', monospace, 'Ubuntu',
    'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

body {
  display: grid;
  align-items: center;
  height: 100vh;
  background-color: #161616;
  justify-items: center;
  grid-template-columns: 1fr max-content 1fr;
}

.showcase {
  height: 100vh;
  width: 100%;
}

canvas {
  image-rendering: pixelated;
  height: 100vh;
}

header {
  display: grid;
  justify-content: center;
  gap: 16px;
  padding-top: 16px;
}

.wrapper {
  color: wheat;
  row-gap: 16px;
  display: grid;
  justify-items: center;
  width: 90%;
  padding: 8px;
  margin: 0 auto;
}

.wrapper > img {
  width: inherit;
}

header > div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-left: 32px;
  text-align: center;
}
header > div > a > button:hover {
  background: #00000042;
}

header > div > a > button {
  color: wheat;
  border: none;
  background: #00000026;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 300;
  height: 100%;
  width: 100%;
  padding: 8px 0;
}
header > div > a:focus {
  outline: 1px dashed blue;
}
